<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @user.has_avatar_upload? %>
    <%= link_to "Upload Avatar", new_avatar_path %>
  <% end %>

  <%= f.text_field :key, size: 200 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
